* {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-family: "Aldrich";
  text-decoration: none;
}

a:visited {
  color: black;
}

html,
body {
  height: 100%;
}

body {
  background-image: url(../img/fundoTres.jpg);
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(150px, 10%) auto minmax(150px, 10%);
  grid-template-rows: 120px auto;
}

.cabecalho {
  grid-column: 2 / -1;
}

.conteudo {
  grid-column: 2 / 3;
}

.box-cadastro {
  width: 600px;
  height: 100%;
  margin: auto;
  background: url(../img/retangulo.png),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(196, 196, 196, 0.54);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  letter-spacing: 1mm;
  overflow: auto;
}

.logo {
  display: inline-block;
  font-family: "Russo One";
  font-size: 55px;
  font-weight: normal;
  letter-spacing: normal;
  padding-top: 75px;
  padding-left: 30px;
}

.bola {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  top: 20px;
  right: 20px;
}

.sublogo {
  font-size: 19px;
  font-weight: normal;
  padding-bottom: 80px;
  padding-left: 30px;
}

.formulario {
  font-size: 18px;
  font-weight: normal;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  gap: 30px;
}

input {
  border: none;
  height: 36px;
  font-size: 16px;
  text-align: center;
}

select {
  border: none;
  height: 36px;
  font-size: 16px;
  text-align: center;
}

#estado,
#altura,
#peso {
  width: 107px;
}

.botao {
  border: none;
  width: 264px;
  height: 40px;
  font-family: "Russo One";
  font-size: 22px;
  color: white;
  background: linear-gradient(
    180deg,
    rgba(197, 98, 187, 0.99) 9.9%,
    rgba(125, 236, 210, 0.91) 99.97%,
    rgba(185, 238, 225, 0) 99.98%,
    rgba(185, 237, 225, 0.00578035) 99.99%
  );
  cursor: pointer;
  margin-bottom: 30px;
}

.nome {
  width: 75%;
}

.linha2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.linha3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-bottom: 30px;
}

.campo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .opcao-editar {
    padding-bottom: 0vh;
  }

  .opcao-historico {
    padding-bottom: 0vh;
  }

  .chuteira {
    padding-bottom: 0vh;
  }

  .conteudo {
    grid-column: 1/ -1;
    grid-row: 1fr;
  }

  [class*="box-cadastro"] {
    width: 90%;
    height: 90vh;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .formulario {
    gap: 13px;
  }

  .logo {
    padding-top: 60px;
  }

  .sublogo {
    padding-bottom: 40px;
  }

  [class*="box-cadastro"] {
    height: 100%;
  }

  .campo {
    gap: 15px;
  }

  .botao {
    top: 90%;
  }

  .linha2 {
    gap: 15px;
    grid-template-columns: 1fr;
  }

  .linha3 {
    gap: 15px;
    grid-template-columns: 1fr;
  }

  input {
    width: 80% !important;
  }

  select {
    width: 80% !important;
  }
}
