* {
  border: 0px;
  margin: 0px;
}

html, body{
height: 100%;
}


 body {
  background-image: url("../img/fundoDois.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
} 

.conjuntoCentral {
  width: 600px;
  height: 80%;
  margin: auto;
  background:   linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
  rgba(196, 196, 196, 0.54);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.historico ul {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(
    219.53deg,
    #a4d8e3 -47.51%,
    rgba(192, 152, 234, 0.577158) 3.23%,
    rgba(192, 153, 234, 0.573053) 20.15%,
    rgba(186, 26, 212, 0.19) 76.09%
  );
  font-size: 18px;
  color: rgba(255, 255, 255, 0.753);
  font-family: "Russo One";
}

.historico ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.historico img {
  width: 64px;
  height: 64px;
}

.imgChuteira {
  filter: invert(90%);
}

.imgBola {
  filter: invert(90%);
  width: 15%;
  height: 15%;
}

.datas {
  padding: 40px;
  display: grid;
  text-align: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.data-item {
  display: grid;
  width: 400px;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(
    219.53deg,
    #a4d8e3 -47.51%,
    rgba(192, 152, 234, 0.577158) 3.23%,
    rgba(192, 153, 234, 0.573053) 20.15%,
    rgba(186, 26, 212, 0.19) 76.09%);
  border: 0;
  height: 40px;
  font-family: "Aldrich";
}

.botao-voltar{
  background: linear-gradient(
    219.53deg,
    #a4d8e3 -47.51%,
    rgba(192, 152, 234, 0.577158) 3.23%,
    rgba(192, 153, 234, 0.573053) 20.15%,
    rgba(186, 26, 212, 0.19) 76.09%
  );
  font-family: "Russo One";
  font-size: 25px;
  color: rgba(255, 255, 255, 0.753);
  text-align: center;

}

.botao-voltar:hover{
  cursor: pointer;
}

.data-item a {
  color: black;
  text-decoration: none;
}

.data-item a:hover{
  color:white;
  text-decoration: none;
} 

.alinhamentoDireita {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {

  .conjuntoCentral{
    width: 90%;
  }

  .data-item{
    width: 300px;
  }
}
