* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Aldrich";
}

body {
  background-image: url(../img/fundoUm.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cadastro {
  margin-top: 60px;
  width: 600px;
  height: 815px;
  background: url(../img/retangulo.png),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(196, 196, 196, 0.54);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  letter-spacing: 1mm;
}

.logo {
  font-family: "Russo One";
  font-size: 55px;
  font-weight: normal;
  margin: 73px 0px 0px 22px;
  letter-spacing: normal;
}

.bola {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 100px;
  left: 260px;
}

.sublogo {
  font-size: 19px;
  font-weight: normal;
  margin: 12px 0px 0px 22px;
}

input {
  border: none;
  height: 36px;
  font-size: 16px;
  text-align: center;
}

.box-formulario {
  font-size: 18px;
  font-weight: normal;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  gap: 18px;
}

.nome {
  width: 60%;
}

.campo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  align-items: center;
  gap: 18px;
}

.adc, .apagar {
  background-color: white;
  border: 0px;
  width: 25px;
  height: 25px;
  border-radius: 15px 15px 15px;
}

.apagar{
  margin-left: 2px;
}

.botao-sortear {
  font-family: "Russo One";
  font-style: normal;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 147px;
  height: 40px;
  color: white;
  background-color: #dc76de;
  border: 0px;
  cursor: pointer;
}

.opcao {
  margin-bottom: 15px;
}

.botao-cadastro {
  font-family: "Russo One";
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 147px;
  height: 40px;
  color: white;
  background-color: #2de2b7;
  border: 0px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .cadastro {
    width: 90%;
  }
  input:not(input[type="radio"]) {
    width: 80% !important;
  }

  #nome {
    width: 72% !important;
  }
}
